:root {
    --primary-color: #efc69b;
    --secondary-color: #72cbcb;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: Mooli, sans-serif;
}





